@import "../vars.scss";

.input-modal{
    position: absolute;
    width:20rem;
    height:20rem;
    background-color: $background;     
}

.btn-group {
    display: flex;
    align-items:center;
    gap: 1rem;
}

.btn-group button {
    background: transparent;
    border: solid 1px greenyellow;
    color: white;
    cursor: pointer;
}

.input-modal input{
    background-color:rgb(87, 87, 87) ;
}