@import "../vars.scss";

.header{
    
    background-color: rgb(8, 141, 141);
    margin: 0;
    padding: 0;
    display: flex;
}
.header h2{
    margin-right: auto;
    margin-left: 2rem;
    font-family:$primary-font ;
}