@import "../vars.scss";

.data-container{
    background-color: black;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

.category-container{
    display: flex;
    gap:0.5rem;
    width: 100%;
   
}

.category{
    background-color: rgb(34, 128, 115);
    border-radius: 0.2rem;
    width: 7rem;
    height:3rem;
    color: white;
}

.category h4, h5{
    padding-top: 0.3rem;
    margin: 0;
}


.split-table{
    margin-top: 1.5rem;
    border-radius: 0.4rem;
    overflow: hidden;
}

.split-table p {
    padding: none;
    margin: 0;
    font-size: 0.9rem;
    font-family: $primary-font;
}

.split-table th, td{
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    width: 6rem;
}

.split-table th{
    background-color: rgb(73, 123, 217); 
   
}

.split-table td{
    background-color: yellow; 
}
