$primary-grey: rgb(45 55 72);
$secondary-grey: rgb(232, 232, 233);
$light-grey: rgb(160 174 192);
$primary-black:rgb(18 19 25);
$primary-blue:rgba(38, 77, 196, 0.964);
$primary-green: rgb(14 203 129);
$primary-red: rgb(217 60 92);

$primary-font:'Open Sans',sans-serif;